---
import Agent from "../components/Agent.astro";
import Cta from "../components/Cta.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Manifesto from "../components/Manifesto.astro";
import Nav from "../components/Nav.astro";
import Roles from "../components/Roles.astro";
import Will from "../components/Will.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Manifesto />
    <Will />
    <Agent />
    <Roles />
    <HowItWorks />
    <Cta />
  </main>
</BaseLayout>
